
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    
.quicksand-simple {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  .marquee {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #ffffff;
    padding: 10px;
}
  /* common style */
  .padding{ 0px;}
  .margin{ 0px;}
  .box-sizing{
    border-box;
  }
  *{
    border: 1px solid red;
  }
  
  body{
    border: 2px dashed green;
  }
  .width{
    width: 100%;
  }
  .navigation{
    display: flex;
    justify-content: space-around;
  }
  .school{
    display: flex;
  }
  .school-text{
    padding-top: 20px;
  }
  .home-all{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
  }
  .curriculum{
    background-image:url(../assets/bg.png)
  }
  .new{
    background-image:url(../assets/bg.png)
  }
  .card{
    display: flex;
  }
  .back-see{
    width: 20px;
    height: 20px;
  }
  .right-4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .big-image{
    width: 40rem;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    background-color: #01ACFD;
  }
  .last-icon{
    display: flex;
  }
